.App {
  text-align: center;
  height: 100%;
  border: solid red 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** My css **/
#Name {
  align-self: center;
  opacity: 1;
}

#AppContainer{
  position: relative;
}

#CenterContainer {
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 15%;
  margin-bottom: 0%;
}

#TimeContainer {
  margin: 1%;
  width: 8%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#GithubIcon {
  content: url(images/github-mark.png);
}

#LinkedInIcon {
  content: url(images/linkedin_icon_135436.png);
}

#RepoIcon {
  content: url(images/webDevicon.png);
}

.bubbleBox {
  /* background-color: rgba(83, 83, 83, 0.4); */
  background-color: rgba(90, 90, 90, 0.8); 
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
}

.iconImg {
  max-width: 50px;
  height: auto;
}

.Icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: none;
  border-radius: 10px;

  margin-left: 10%;
  margin-right: 10%;
}